@using Microsoft.AspNetCore.Authorization
@using DentistryManagement.Client.Pages.Users.Components 

@attribute [Authorize]
@inject HttpClient Http

@page "/settings"
@page "/settings/{Email}"

<div class="under-top-row px-4"></div>

<div class="content px-4">
    <div class="row">
        <div class="col">
           <Profile Email="@Email" />
        </div>
        <div class="col">
            <Profile Email="@Email" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Email { get; set; }
}