@using DentistryManagement.Client.Pages.Patients.Components.Interfaces
@using DentistryManagement.Client.Components

<div class="grph-paper">
    <Panel Title="Teeth">
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>

        <div>
            @ActiveTooth?.ToothId
            <h3>Test</h3>
        </div>
    </Panel>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public ITooth ActiveTooth { get; private set; }

    public void AddTooth(ITooth tooth)
    {
        if (ActiveTooth == null)
        {
            SetActiveTooth(tooth);
        }
    }

    public void SetActiveTooth(ITooth tooth)
    {
        if (ActiveTooth != tooth)
        {
            ActiveTooth = tooth;
            StateHasChanged();
        }
    }
}
