@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #EAF3F9 !important;
    overflow: hidden;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 1.1rem;
    height: 879px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {

}

.invalid {
    border-color: #b71c1c;
}

.validation-message {
    color: #b71c1c !important;
    font-size: 0.6428571428571428rem !important;
    height: 30px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.mdc-list > li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.mdc-list > a:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.mdc-menu {
    z-index: 103 !important;
}

.mdc-select {
    width: 100%;
    margin-bottom: 10px;
}

.blazored-modal-container {
    z-index: 103;
}

.mdc-form-field > label {
    margin-bottom: -2px;
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    .mdc-linear-progress__bar-inner {
        border-color: #193c6b;
    }

    .card {
        position: initial;
    }

    .card-columns {
        column-count: 2;
    }

    .mdc-chip__icon--trailing {
        color: white;
    }

    .mdc-chip {
        background-color: #91C8E5;
    }

    .mdc-chip__text {
       color: white;
    }

    .mdc-chip:hover {
        color: white;
    }

    .mdc-chip__icon--trailing:hover {
        color: white;
    }

    .mat-file-upload input[type=file] {
        width: 56px;
        height: 56px;
        z-index: 101;
    }

    .mat-file-upload {
        justify-content: flex-end;
        padding: 0px;
    }
}