.grph-primary {
    background-color: #193C6B;
    border: none;
}

    .grph-primary:hover {
        background-color: rgba(25,60,107,0.84) !important;
        cursor: pointer;
    }

    .grph-primary:active {
        background-color: #193C6B !important;
    }

    .grph-primary:focus {
        box-shadow: none !important;
    }

    .grph-primary:disabled {
        background-color: #193C6B;
        border: none;
    }

.grph-user {
    all: unset;
    color: white;
    background-color: #91C8E5 !important;
    border-radius: 50%;
}

    .grph-user > div {
        width: unset !important;
        height: unset !important;
        top: unset !important;
        left: unset !important;
    }

    .grph-user:hover {
        background-color: #7DBBD9 !important;
        cursor: pointer;
    }

    .grph-user:focus {
        outline: none !important;
    }

.grph-sign-out {
    color: white;
    background-color: #91C8E5;
    border-radius: 50%;
    margin-right: 10px;
}

    .grph-sign-out:hover {
        background-color: #7DBBD9;
        cursor: pointer;
    }

.grp-table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.grph-table-head {
    background-color: #CDE4F0;
}

    .grph-table-head > tr:hover {
        background-color: #CDE4F0;
    }

    .grph-table-row:hover {
        background-color: #F4F7FB;
    }

.grph-table-row {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

    .grph-table-row > th {
        border-right: 1px solid #EAF3F9;
        font-weight: normal;
        padding: 6px 24px 6px 16px;
        color: var(--theme-palette-text-primary, rgba(0, 0, 0, 0.87));
        line-height: calc(var(--theme-font-size-rem-factor, 0.0625) * 24rem);
        display: table-cell;
        vertical-align: inherit;
        text-align: left;
        border-bottom: 1px solid var(--theme-palette-divider-border-bottom, rgba(224, 224, 224, 1));
        font-size: var(--theme-typography-body2-font-size, 0.875rem);
        font-family: var(--theme-typography-body2-font-family, "Roboto", "Helvetica", "Arial", sans-serif);
        letter-spacing: var(--theme-typography-body2-letter-spacing, 0.01071em);
    }

    .grph-table-row > td {
        border-right: 1px solid #EAF3F9;
        border-bottom: 1px solid #EAF3F9;
        padding: 6px 24px 6px 16px;
        color: var(--theme-palette-text-primary, rgba(0, 0, 0, 0.87));
        display: table-cell;
        vertical-align: inherit;
        text-align: left;
        font-size: var(--theme-typography-body2-font-size, 0.875rem);
        font-family: var(--theme-typography-body2-font-family, "Roboto", "Helvetica", "Arial", sans-serif);
        font-weight: var(--theme-typography-body2-font-weight, 400);
        line-height: var(--theme-typography-body2-line-height, 1.43);
        letter-spacing: var(--theme-typography-body2-letter-spacing, 0.01071em);
    }

.grph-paper {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.1), 0px 2px 2px 0px rgba(0,0,0,0.07), 0px 1px 5px 0px rgba(0,0,0,0.05);
    border-radius: 0;
    color: var(--theme-palette-text-primary, rgba(0, 0, 0, 0.87));
    transition: var(--theme-transition-box-shadow, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms);
    background-color: var(--theme-palette-background-paper, #fff);
}

.grph-actions {
    width: 70px;
    background-color: #F4F7FB;
    padding-right: 16px !important;
}

    .grph-actions > span {
        color: #8BA0B8;
    }

        .grph-actions > span:hover {
            color: #B8D8EA;
            background-color: transparent;
            cursor: pointer;
        }

.grph-action-add {
    height: 100%;
    align-items: center;
    display: flex;
}

    .grph-action-add > span {
        font-size: 15px;
        margin-top: 4px;
        margin-right: 2px;
        color: #00A8FF;
    }

    .grph-action-add:hover {
        background-color: rgba(0, 168, 255, 0.04);
        cursor: pointer;
    }

.blazored-modal-overlay {
    background-color: rgba(234,243,249, 0.9) !important;
}

.blazored-modal {
    color: rgba(0, 0, 0, .7);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.1), 0px 24px 38px 3px rgba(0,0,0,0.07), 0px 9px 46px 8px rgba(0,0,0,0.05) !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 0px !important;
}

.blazored-modal-header {
    color: #FFF;
    padding-left: 40px !important;
    padding-right: 28px !important;
    background-color: #193C6B;
    padding: 8px 32px !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1), 0px 4px 5px 0px rgba(0,0,0,0.07), 0px 1px 10px 0px rgba(0,0,0,0.05);
}

.blazored-modal-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.3;
}

.blazored-modal-close {
    color: white;
    font-weight: 100 !important;
}

.grph-modal-form{
    padding: 40px;
}

    .grph-modal-form > img {
        max-width: 1300px;
        max-height: 770px;
    }

.grph-button {
    text-transform: none;
}
.grph-button-actions {
    justify-content: flex-end;
}

.grph-cancel {
    color: #193C6B;
    background-color: #F4F7FB;
    border: none;
    margin-right: 10px;
}
    .grph-cancel:hover {
        background-color: #E9F0F7 !important;
        color: #193C6B !important;
    }

    .grph-cancel:active {
        background-color: #E9F0F7 !important;
    }

    .grph-cancel:focus {
        box-shadow: none !important;
    }

.grph-waiting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(234,243,249, 0.9);
    width: 100%;
    height: 100%;
}

.grph-waiting-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 100px;
    color: #193C6B;
}

    .grph-waiting-status > div {
        margin: auto;
        background-color: #193C6B;
    }

.grph-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(234,243,249, 0.9);
    width: 100%;
    height: 100%;
}

.grph-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 100px;
    color: #193C6B;
    text-align: center;
    display: block;
}

.grph-header-root {
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 12px;
    padding-bottom: 12px;
    background-color: #CDE4F0;
    display: flex;
    align-items: center;
}

.grph-header-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.grph-form-edit {
    padding: 2px 6px;
    font-size: 14px;
    color: white;
    background-color: #91C8E5;
    border: 0;
}

    .grph-form-edit:hover {
        background-color: #7DBBD9 !important;
    }

    .grph-form-edit:active {
        background-color: #7DBBD9 !important;
        border: 0 !important;
    }

    .grph-form-edit:focus {
        box-shadow: none !important;
    }

    .grph-form-edit > span {
        font-size: 10px;
        margin-right: 2px;
        display: contents;
    }

.grph-form-save {
    padding: 2px 6px;
    font-size: 14px;
    color: white;
    background-color: #FAB522;
    border: 0;
}

    .grph-form-save:hover {
        background-color: #EFA506 !important;
    }

    .grph-form-save:active {
        background-color: #EFA506 !important;
        border: 0 !important;
    }

    .grph-form-save:focus {
        box-shadow: none !important;
    }

    .grph-form-save > span {
        font-size: 10px;
        margin-right: 2px;
        display: contents;
    }

.grph-form-cancel {
    padding: 2px 6px;
    font-size: 14px;
    color: white;
    background-color: #193C6B;
    border: 0;
}

    .grph-form-cancel:hover {
        background-color: rgba(25, 60, 107, 0.84) !important;
    }

    .grph-form-cancel:active {
        background-color: rgba(25, 60, 107, 0.84) !important;
        border: 0 !important;
    }

    .grph-form-cancel:focus {
        box-shadow: none !important;
    }

    .grph-form-cancel > span {
        font-size: 10px;
        margin-right: 2px;
        display: contents;
    }

.grph-content-root {
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}

    .grph-content-root > ul {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        vertical-align: top;
    }

        .grph-content-root > ul > li {
            width: 100%;
            display: flex;
            position: relative;
            box-sizing: border-box;
            text-align: left;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 8px;
            justify-content: flex-start;
            text-decoration: none;
        }

.grph-content-input-disabled {
    background-color: transparent !important;
    opacity: inherit !important;
    border-color: transparent;
}

.grph-content-input:focus {
    border-color: #193C6B;
    box-shadow: none;
}

.grph-navigation {
    flex: auto;
}

.grph-navigation > ol {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

    .grph-navigation > ol > li {
        color: #193C6B;
        opacity: 0.4;
        font-size: 14px;
    }

    .grph-navigation-active {
        opacity: 1 !important;
    }

.grph-separator {
    margin-right: 8px;
    color: #193C6B;
    opacity: 0.4;
    margin-left: 8px;
}

.grph-authorize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #193C6B;
    letter-spacing: 0.2em;
}

.grph-checkbox > label {
    margin-bottom: 0px;
}

.grph-icons {
    width: 2rem;
    fill: #d7d7d7;
}

.grph-chart-open-holder {
    height: 600px;
    position: relative;
}

.grph-tooth-active {
    background: black;
}

.grph-teeth-table {
    margin: auto;
}

.grph-teeth-tr > img:hover {
    background: #193C6B;
    cursor: pointer;
}

.grph-textarea {
    width: 500px;
    height: 100px;
}

.grph-diseases {
    margin: auto;
    max-width: 600px;
}

.grph-tooth-active {
    background-color: #193C6B !important;
}

.grph-tooth-diseases {
    background-color: #EAF3F9;
}

.grph-content {
    margin: auto;
    max-width: 600px;
}

.grph-file-content {
    margin: auto;
    max-width: 660px;
}

.grph-files {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.grph-thumbnail {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 6%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    cursor: pointer;
    margin: 5px;
}

    .grph-thumbnail:hover {
        box-shadow: 0 20px 15px -8px rgba(0, 0, 0, 0.8);
    }

        .grph-thumbnail:hover .grph-thumbnail-img {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .grph-thumbnail:hover .grph-thumbnail-content {
            -webkit-box-flex: 1;
            flex-grow: 1;
        }

.grph-thumbnail-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grph-thumbnail-img {
    -webkit-box-flex: 4;
    flex: 4 0 auto;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.grph-thumbnail-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 0;
    background-color: #193c6b;
    overflow: hidden;
}

    .grph-thumbnail-content:hover {
        background-color: rgba(25, 60, 107, 0.84);
    }

    .grph-thumbnail-content > span {
        color: #ffffff;
        font-size: 10px;
        margin-bottom: 2px;
    }

.grph-profile-header-root {
    display: flex;
    padding: 16px;
    align-items: center;
}

.grph-profile-header-content {
    flex: 1 1 auto;
}
.grph-profile-title {
    display: block;
    font-size: 1.2857142857142856rem;
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    line-height: 1.334;
    margin: 0;
}

.grph-profile-text {
    color: #193C6B;
    font-size: 20px;
    font-weight: 400;
    margin-right: 24px;
    vertical-align: middle;
}

.grph-profile-content {
    padding-left: 5px;
}

.grph-profile {
    padding: 20px;
}

.grph-ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    vertical-align: top;
    display: inline-block;
    margin-right: 32px;
}

.grph-li {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}

.grph-span {
    padding-right :10px;
}

.grph-comment-action {
    width: 102px;
    padding-left: 3px;
}

    .grph-comment-action:hover {
        background-color: #eaf3f961;
        cursor: pointer;
        border-radius: .25rem;
    }

        .grph-tooh-action {
            margin: auto;
            max-width: 600px;
            padding: 11px;
        }

.grph-comment-action-text {
    font-size: 13px;
}

.grph-comment-action-icon {
    fill: #193C6B;
}

.grph-comment {
    width: 350px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    background-color: #CDE4F0;
    margin-bottom: 5px;
    border-radius: 1px;
    word-break: break-all;
    cursor: pointer;
}

    .grph-comment:hover {
        background-color: #c5dae6;
    }

.grph-comment-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 11px;
}

.grph-comment-content {
    padding-top: 10px;
}

.grph-comment-remove {
    color: #3d4448;
}

    .grph-comment-remove:hover {
        color: #3d4448;
    }

.grph-comments {
    max-height: 350px;
    overflow: auto;
}