@using DentistryManagement.Shared.ViewModels.TreatmentHistories
@using DentistryManagement.Client.Components

<div class="grph-paper">
    <div class="grph-chart-datetime">
        <h5>Monthly treatment statistics</h5>
        <div hidden="@(!DataExist)">
            @if (Initializing)
            {
                <Loading Name="Initializing" />
            }
            @if (DataExist)
            {
                <SfChart Palettes="@palettes" @ref="Chart">
                    <ChartEvents Loaded="AfterRender" />
                    <ChartPrimaryXAxis IntervalType="IntervalType.Days" ValueType="Syncfusion.Blazor.Charts.ValueType.DateTimeCategory">
                    </ChartPrimaryXAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@MonthlyTreatmentHistory.TreatmentHistories" XName="DateOfTreatment" YName="Count" Type="ChartSeriesType.Column">
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            }   
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MonthlyTreatmentHistoryViewModel MonthlyTreatmentHistory { get; set; }

    SfChart Chart;

    public String[] palettes = new String[] { "#193c6b" };

    private bool Initializing = true;

    private bool DataExist => MonthlyTreatmentHistory.TreatmentHistories.Count > 0 ? true : false;

    private void AfterRender(LoadedEventArgs args)
    {
        Initializing = false;
    }

    public void RefreshLiveData(MonthlyTreatmentHistoryViewModel monthlyTreatmentHistory)
    {
        if (monthlyTreatmentHistory.TreatmentHistories.Count == 0)
        {
            return;
        }

        MonthlyTreatmentHistory = monthlyTreatmentHistory;
        StateHasChanged();
        Chart.RefreshLiveData();
    }
}