<div class="grph-paper">
    <div class="grph-chart-number-container">
        <div class="col-3">
            <div class="grph-chart-number-icon">
                <DentistryManagement.Client.Icons.People />
            </div>
        </div>
        <div class="col-9">
            <h6 class="grph-chart-number-h6">Number of patients</h6>
            <h5 class="grph-chart-number-h5">@PatientCount</h5>
        </div>
    </div>
    <div class="grph-chart-number-footer">
        <p>All patients in your service</p>
    </div>
</div>

@code {
    [Parameter]
    public int PatientCount { get; set; }
}
