
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <DentistryManagement.Client.Icons.Home Class="grph-icons" /> Home
                </NavLink>
            </li>
            <AuthorizeView Roles="Admin">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="affiliates">
                        <DentistryManagement.Client.Icons.Affiliate Class="grph-icons" /> Affiliates
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <DentistryManagement.Client.Icons.Person Class="grph-icons" /> Users
                    </NavLink>
                </li>
            </AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="dentists">
                    <DentistryManagement.Client.Icons.Doctor Class="grph-icons" /> Dentists
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="patients">
                    <DentistryManagement.Client.Icons.Group Class="grph-icons" /> Patients
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="diseases">
                    <DentistryManagement.Client.Icons.Disease Class="grph-icons" /> Diseases
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="treatments">
                    <DentistryManagement.Client.Icons.Healing Class="grph-icons" /> Treatments
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="calendar">
                    <DentistryManagement.Client.Icons.Event Class="grph-icons" /> Calendar
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
