
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <AuthorizeView Roles="Admin">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="affiliates">
                        <MatIcon Class="grph-icons" Icon="@MatIconNames.Domain"></MatIcon> Affiliates
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-person" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="dentists">
                    <MatIcon Class="grph-icons" Icon="@MatIconNames.Local_hospital"></MatIcon> Dentists
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="patients">
                    <MatIcon Class="grph-icons" Icon="@MatIconNames.Contacts"></MatIcon> Patients
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="diseases">
                    <DentistryManagement.Client.Icons.Disease Class="grph-icons"/> Diseases
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
