@using Microsoft.Extensions.Logging

@inject HttpClient Http
@inject ILogger<Treatments> Logger

<div class="grph-modal-form">
    <p class="validation-message" style="@messageStyles">
        @message
    </p>

    <p>
        There may be something attached to this treatment. <br>
        They will automatically be detached as soon as you delete this treatment.<br>
        Are you sure you want to delete the treatment?
    </p>

    <br />

    <div class="input-group grph-button-actions">
        <button class="btn btn-primary grph-cancel" @onclick="BlazoredModal.CancelAsync">Cancel</button>
        <button class="btn btn-primary grph-primary" disabled="@disabled" @onclick="Delete">Confiirm</button>
    </div>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public int Id { get; set; }

    private bool disabled;

    private string message;

    private string messageStyles = "display:none";

    private async Task Delete()
    {
        disabled = true;
        try
        {
            var response = await Http.DeleteAsync("api/treatment/" + Id);

            if (response.IsSuccessStatusCode)
            {
                await BlazoredModal.CloseAsync(ModalResult.Ok(response));
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception exception)
        {
            Logger.LogError("Form processing error: {Message}", exception.Message);
            messageStyles = "display:block";
            message = "There was an error processing the form.";
        }
    }
}
