@using DentistryManagement.Shared.ViewModels
@using DentistryManagement.Client.Pages
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Json
@using Microsoft.Extensions.Logging
@inject ILogger<Users> Logger
@inject IModalService Modal
@inject HttpClient Http

<div class="simple-form">
    <EditForm Model="@UpdateUserViewModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="firstName" @bind-Value="UpdateUserViewModel.FirstName" />
        <InputText id="lastName" @bind-Value="UpdateUserViewModel.LastName" />
        <button type="submit" disabled="@disabled">Submit</button>

        <p style="@messageStyles">
            @message
        </p>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter]
    public string Id { get; set; }
    private bool disabled;
    private string message;
    private string messageStyles = "visibility:hidden";
    private UpdateUserViewModel UpdateUserViewModel = new UpdateUserViewModel();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            UpdateUserViewModel = await Http.GetFromJsonAsync<UpdateUserViewModel>("api/User/" + Id);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var response = await Http.PutAsJsonAsync("api/User/" + Id, UpdateUserViewModel);

            if (response.IsSuccessStatusCode)
            {
                await BlazoredModal.Close(ModalResult.Ok(response));
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception exception)
        {
            Logger.LogError("Form processing error: {Message}", exception.Message);
            disabled = true;
            messageStyles = "color:red";
            message = "There was an error processing the form.";
        }
    }
}
